{:deps
 {io.github.cognitect-labs/test-runner
  {:git/url "https://github.com/cognitect-labs/test-runner"
   :git/sha "7284cda41fb9edc0f3bc6b6185cfb7138fc8a023"}
  io.github.tonsky/clj-reload
  {:mvn/version "0.5.0"}}}
